

body {
    background-color: rgba(119, 255, 0, 0.548);
    color: rgb(254, 0, 187);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h2 {
    text-align:left ;

}

p {
    text-align:center ;

}